<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">読んだ本を投稿<%= image_tag("top_img6.png", class: :top) %></h2>
        <%= render partial: "memo", locals: {book: @book} %>
    </div>
  </div>
</div>